<div class="container">
    <div class="item">
        <h5>Opening Hours</h5>
        <div class="">
            <p>Mon–Fri 08:00AM – 09:00PM</p>
            <p>Sat–Sun 09:00AM–07:00PM</p>
        </div>
    </div>
    <div class="item">
        <h5>Find Us</h5>
        <div class="">
            <p>Katabi, Entebbe</p>
            <p>+256773539402</p>
            <p>contact@dreamhomes.com</p>
        </div>
    </div>
    <div class="item">
        <h5>Property</h5>
        <div class="">
            <p>Apartments</p>
            <p>Villas</p>
            <p>Houses</p>
            <p>Commercial</p>
        </div>
    </div>
    <div class="item">
        <h5>Links</h5>
        <nav class="footer-links">
            <a href="/">Home</a>
            <a href="/property">Property</a>
            <a href="/contact">Contact Us</a>
            <a href="/about">About Us</a>
        </nav>
    </div>
    <div class="item">
        <h5>Newsletter</h5>
        <div class="">
            <label for="email">Subscribe to our newsletter</label>
            <div class="subscribe">
                <input
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Your email..."
                >
                <button type="button">Subscribe</button>
            </div>
        </div>
    </div>
</div>