<div class="container" id="navbar-container">
    <h1 class="logo">
        <a href="/">DreamHomes</a>
        <span>.</span>
    </h1>
    <nav class="nav-links" id="nav-links">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/property">Property</a>
        <a class="nav-link" href="/about">About Us</a>
        <a class="nav-link" href="/contact">Contact Us</a>
    </nav>

    <i class="fa-solid fa-bars" id="menu"></i>
    <i class="fa-solid fa-xmark" id="closeMenu"></i>
</div>