<!-- SKELETON NAVBAR (visible until the actual navbar loads) -->
<div class="skeleton-container navbar-skeleton">
  <div class="skeleton-logo"></div>

  <nav class="skeleton-nav_links skeleton-links">
    <div class="skeleton-link"></div>
    <div class="skeleton-link"></div>
    <div class="skeleton-link"></div>
    <div class="skeleton-link"></div>
  </nav>

  <div class="skeleton-auth">
    <div class="skeleton-btn"></div>
  </div>

  <div class="skeleton-menu">
    <div class="skeleton-bar"></div>
    <div class="skeleton-bar"></div>
    <div class="skeleton-bar"></div>
  </div>
</div>
