.properties-container_skeleton {
    padding: 10px;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    animation: pulse 1.8s infinite ease-in-out;
}
.properties-container_skeleton .item-skeleton {
    width: 100%;
    height: 250px;
    box-shadow: 0 10px 18px rgba(0,0,0,0.15);
    border-radius: 10px;
    background: linear-gradient(90deg, #e0e0e0 25%, #f0f0f0 50%, #e0e0e0 75%);
    animation: loading 1.5s infinite;
}
@keyframes pulse {
    0%, 100% { opacity:  1;}
    50% { opacity: 0.8;}
}
@keyframes loading {
    0% { background-position: 200% 0;}
    100% { background-position: -200% 0;}
}
#properties-page #properties-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (max-width: 991px) {
    #properties-page {
        padding: 1rem;
    }
}

#properties-page #properties-container .property-item {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 14px rgba(0,0,0,0.15);
}
#properties-page #properties-container .property-item .image {
    height: 150px;
    width: 100%;
    position: relative;
}

#properties-page #properties-container .property-item .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.for-sale {
    padding: 8px 15px;
    border-radius: 8px;
    color: #f9f9f9;
    background-color: #8EDA53;
    position: absolute;
    top: 10px; left: 10px;
    font-size: 12px;
}
.for-rent {
    padding: 8px 15px;
    border-radius: 8px;
    color: #f9f9f9;
    background-color: #9653DA;
    position: absolute;
    top: 10px; left: 10px;
    font-size: 12px;
}

#properties-page #properties-container .property-item .content {
    padding: 10px;
}

#properties-page #properties-container .property-item .content h2 {
    font-weight: 700;
    color: #000000;
    font-size: 14px;
    margin-bottom: 10px;
}
#properties-page #properties-container .property-item .content p.desc {
    color: #7A7474;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.4;
    margin-bottom: 10px;
}
#properties-page #properties-container .property-item .content p.price {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #000000;
}
#properties-page .property-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

#properties-page #properties-container .property-item .details-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

#properties-page #properties-container .property-item .details-grid .detail-item {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 5px;
}

#properties-page #properties-container .property-item .details-grid .detail-item div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.detail-item div i, .detail-item div span {
    color: #100E2C;
    font-weight: 700;
}
.detail-item div span {
    font-size: 14px;
    font-weight: 400;
}
.detail-item p {
    color: #7A7474;
    font-weight: 300;
    font-size: 10px;
    padding-top: 4px;
}



