* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" ,sans-serif;
}

:root {
    --primary-color: #f9f9f9;
    --text-color: #333;
    --footer-bcg-color: #100E2C;
    --bg-color-primary: #100E2C;
    --blue-color: #0057FF;
}

body {
    background: var(--primary-color);
    color: var(--text-color);
}

.navbar {
    background-color: #fff;
    border-bottom: 1px solid #eee;
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    z-index: 10;
    max-width: 1600px;
    margin: 0 auto;
}

section {
    max-width: 1600px;
    margin: 0 auto;
    padding: 1rem 2rem;
    min-height: 80vh;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.cta-btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border-radius: 6px;
    font-weight: 500;
    transition: all 0.3s ease;
    width: max-content;
}

.cta-btn:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

@media (max-width: 991px) {
    section {
        padding: 0;
    }
}

a {
    text-decoration: none;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.logo {
    color: #2c3e50;
    font-size: 1.8rem;
}

.logo span {
    color: #3498db;
}

@media (max-width: 640px) {
    h1.logo {
        font-size: 1.5rem;
    }
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-color);
    transition: 0.3s;
    padding: 10px 15px;
    font-size: 14px;
}

.nav-links a:hover {
    color: #3498db;
}

.nav-links a.active {
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
}

#menu, #closeMenu {
    display: none;
}



/* navbar media queries */
@media (max-width: 991px) {
    #menu {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }
    
    #closeMenu {
        display: none;
        font-size: 24px;
        cursor: pointer;
    }

    .navbar {
        padding: 0;
    }

    .nav-links {
        position: absolute;
        top: 100%;
        right: 0; z-index: 100;
        background-color: #f9f9f9;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem 0;
        padding: 1.5rem 0;
        border-top: 1px solid #eee;
        display: none;
    }

    .nav-links.open {
        display: flex;
    }

    .nav-links a {
        padding: 10px 15px;
        font-size: 1rem;
    }
}

.navbar .logout #logout-btn {
    border: none;
    outline: none;
    padding: 10px 14px;
    border-radius: 5px;
    background-color: #007bff;
    color: #f9f9f9;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navbar .logout #logout-btn:hover {
    opacity: 70%;
    transform: translate(3px);
}

@media (max-width: 991px){
    .navbar .logout {
        display: none;
    }
}

/* hero section styles*/
.hero-container {
    width: 100%;
    height: 500px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.hero-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.hero-container .overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.5);
}

.hero-container .text-content {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #f9f9f9;
    padding: 1rem;
    width: 90%;
    max-width: 700px;
    animation: fadeIn 1.5s ease-in-out;
}

.hero-container .text-content h1 {
    font-size: 2.8rem;
    line-height: 1.3;
    margin-bottom: 1rem;
}

.hero-container .text-content p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
    color: #e0e0e0;
}

.hero-container .text-content .cta-btn {
    display: inline-block;
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border-radius: 6px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.hero-container .text-content .cta-btn:hover {
    background-color: #0056b3;
    transform: translateY(-3px);
}

@keyframes fadeIn {
    from { opacity: 0; transform: translate(-50%, -40%)}
    to { opacity: 1; transform: translate(-50%, -50%)}
}

.hero-container h1 {
    color: #f9f9f9;
}
.hero-container p {
    color: #f9f9f9;
}



/* home page apartments grid */
.section-header {
    display:  flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.section-header .section-title {
    font-weight: bold;
    font-size: 1.7rem;
}
.section-header p {
    font-size: 14px;
    color: #333333;
}

.apartments-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
}

.apartments-grid .apartment-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s;
    position: relative;
}

.apartments-grid .apartment-card:hover {
    transform: translateY(-5px);
}

.apartments-grid .apartment-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.apartments-grid .apartment-card .badge {
    position: absolute;
    top: 5%; left: 5%;
    color: #fff;
    padding: 10px 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 12px;
}

.badge.sale {
    background-color: #8EDA53;
}

.badge.rent {
    background-color: #9653DA;
}

.apartments-grid .apartment-card .apartment-info {
    padding: 10px;
}

.apartments-grid .apartment-card .apartment-info h3 {
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 4px;
}

.apartments-grid .apartment-card .apartment-info p {
    font-size: 10px;
    font-weight: normal;
    color: #333;
    padding-bottom: 4px;
}

.apartments-grid .apartment-card .apartment-info h4 {
    font-weight: bold;
    font-size: 15px;
}

.apartments-grid .apartment-card .apartment-info .features {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.features .feature {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: start;
}

.features .feature div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.features .feature div i {
    color: #333333;
    font-weight: bold;
}
.features .feature div span {
    color: #2c3e50;
    font-size: 14px;
}

.features .feature .feature-text {
    color: #333333;
    font-size: 10px;
}


/* video display section */
.video-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    background-color: var(--bg-color-primary);
    color: #f9f9f9;
    overflow: hidden;
    min-height: 200px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
    margin-block: 2rem;
    padding: 4rem 4.5rem;
}

.video-container {
    position: relative;
    flex: 1 1 20rem;
    overflow: hidden;
    border-radius: 10px;
    height: 240px;
}

.video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.video-container .video-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.3);
}


.video-section .content-container {
    flex: 1 1 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.video-section .content-container .text-content {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.video-section .content-container h4 {
    font-size: 1.5rem;
    color: #f9f9f9;
    font-weight: bold;
}

.video-section .content-container p {
    font-size: small;
    line-height: 1.5;
}





/* Testimonials section */
.testimonials-section {
    margin-block: 2rem;
    background-color: #f8f9ff;
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials-section .testimonials-container {
    max-width: 700px;
    width: 100%;
    position: relative;
}

.testimonials-section .testimonials-container .testimonial-card {
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
}

.testimonials-container .testimonial-card img {
    height: 200px;
    flex: 1 1 200px;
    object-fit: cover;
    border-radius: 10px;
}
.testimonials-container .testimonial-card .text-content {
    flex: 1 1 200px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.testimonials-container .testimonial-card .text-content h4 {
    font-weight: bold;
    color: #100E2C;
    font-size: 20px;
}

.testimonials-container .testimonial-card .text-content p {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4;
}

.testimonials-container .testimonial-card .text-content h5 {
    font-weight: bold;
    font-size: 18px;
}

.testimonials-container .testimonial-card .text-content span {
    font-size: 12px;
    font-weight: normal;
    line-height: 1.4;
    color: #333333;
}

.testimonials-container .testimonial-controls {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.testimonials-container .testimonial-controls button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
}


@media (max-width: 991px) {
    .testimonials-section .testimonials-container .testimonial-card {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .testimonials-section .testimonials-container .testimonial-card img {
        border-radius: 50%;
        height: 200px;
        width: 200px;
        max-width: 200px;
        margin: 0 auto;
    }

}

@media (max-width: 768px) {
    .testimonials-container .testimonial-controls button:hover {
        background-color: #0056b3;
    }
}



/* commercial properties section  */
.commercial-apartments_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

.commercial-apartments_grid .apartment-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    position: relative;
    overflow: hidden;
}

.commercial-apartments_grid .apartment-card .badge {
    position: absolute;
    top: 5%; left: 5%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
    font-size: 10px;
    padding: 10px 16px;
    color: #f9f9f9;
}

.commercial-apartments_grid .apartment-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.commercial-apartments_grid .apartment-card .text-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.commercial-apartments_grid .apartment-card .text-content .title-price {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}

.commercial-apartments_grid .apartment-card .text-content .title-price h5 {
    font-weight: bold;
    padding-bottom: 8px;
    font-size: 10px;
}

.commercial-apartments_grid .apartment-card .text-content .title-price p {
    font-weight: bold;
    font-size: 14px;
}

.commercial-apartments_grid .apartment-card .text-content .amenities {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.commercial-apartments_grid .apartment-card .text-content .title-price .amenities div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.commercial-apartments_grid .apartment-card .text-content .amenities div i {
    font-size: 14px;
}

.commercial-apartments_grid .apartment-card .text-content .amenities div span {
    font-weight: lighter;
    font-size: 10px;
}




/* client contact form */
section.contact-section {
    min-height: 70vh;
    margin-block: 20px;
    padding: 4rem 2rem;
    background: linear-gradient(to right, #6ec3f5 0%,#a0d8f1 30%, #e3f2fd 70%, #ffffff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-section .contact-form_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    max-width: 900px;
    width: 100%;
    align-items: center;
}

@media  (max-width: 768px){
    .contact-section .contact-form_container {
        grid-template-columns: 1fr;
    }
}

.contact-section .contact-form_container .contact-form {
    background-color: #0d0d27;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: #f9f9f9;
}

.contact-section .contact-form_container .contact-form h5 {
    font-size: 20px;
}
.contact-section .contact-form_container .contact-form p {
    font-size: 12px;
}

.contact-section .contact-form_container .contact-form div {
    width: 100%;
    height: 40px;
}

.contact-section .contact-form_container .contact-form div input, textarea {
    width: 100%;
    border-radius: 5px;
    padding-inline: 10px;
    border: none;
    outline: none;
}

.contact-section .contact-form_container .contact-form div input {
    height: 100%
}

.contact-section .contact-form_container .contact-form input:focus, .contact-section .contact-form_container .contact-form textarea:focus {
    box-shadow: 0 0 0 2px #2563eb;
}

.contact-section .contact-form_container .contact-form button {
    display: block;
    margin-top: 1rem;
    cursor: pointer;
    border: none;
}

.contact-section .contact-form_container .contact-form .form-status {
    font-size: 0.9rem;
    text-align: center;
    margin-top: 0.5rem;
}

.contact-section .contact-form_container .contact-info {
    padding: 1rem;
}

.contact-section .contact-form_container .contact-info div {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-section .contact-form_container .contact-info div h6 {
    font-size: 20px;
    line-height: 1.2;
}
.contact-section .contact-form_container .contact-info div p {
    font-size: 10px;
    line-height: 1.4;
}





    /* Get properties by location */
.locations {
    padding: 2rem;
}

.locations-grid {
    margin-block: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 250px 250px;
    gap: 1rem;
}

.locations-grid .location-card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.locations-grid .location-card:hover {
    transform: scale(1.02);
}

.locations-grid .location-card .overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0.15), rgba(0,0,0,0.7));
}

.locations-grid .location-card:nth-child(1) {
    grid-column: 1 / span 3;
    grid-row: 1;
}

.locations-grid .location-card:nth-child(2){
    grid-column: 4 / span 1;
    grid-row: 1;
}
.locations-grid .location-card:nth-child(3){
    grid-column: 1 / span 1;
    grid-row: 2;
}
.locations-grid .location-card:nth-child(4){
    grid-column: 2 / span 3;
    grid-row: 2;
}

.locations-grid .location-card img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.locations-grid .location-card .location-info {
    position: absolute;
    left: 1rem; bottom: 1rem;
    color: #fff;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 4px;
}


.location-grids .location-card .location-info p {
    font-weight: 600;
    font-size: 1.2rem;
}

.locations-grid .location-card .location-info span {
    font-size: 10px;
    color: #d1d5db;
    font-weight: normal;
}

@media (max-width: 991px){
    .locations {
        max-height: min-content;
    }
    .locations-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 400px);
    }

    .locations-grid .location-card:nth-child(1),
    .locations-grid .location-card:nth-child(2),
    .locations-grid .location-card:nth-child(3),
    .locations-grid .location-card:nth-child(4){
        grid-column: auto;
        grid-row: auto;
    }
}

@media (max-width: 640px) {
    .locations-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 250px);
    }
}




    /* Footer */

.footer {
    background-color: var(--footer-bcg-color);
    padding: 1rem 2rem;
    width: 100%;
}

.footer .container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
}

.footer .container .item {
    display:  flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
    min-width: 250px;
}

.footer .container .item h5  {
    color: #f9f9f9;
    font-size: 15px;
}

.footer .container .item p {
    color: #f9f9f9;
    font-weight: normal;
    font-size: 10px;
    padding-bottom: 1rem;
}

.footer .container .item .footer-links {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.footer .container .item a {
    font-size: 12px;
    color: #f9f9f9;
}

.footer .container .item a.active-footer-link {
    background-color: #f9f9f9;
    border-radius: 6px;
    padding: 6px 12px;
    color: var(--footer-bcg-color) !important;
}

.footer .container .item label {
    font-size: 12px;
    color: #f9f9f9;
    padding-bottom: 10px;
    display: inline-block;
}

.footer .container .item .subscribe {
    padding: 10px 16px;
    border-radius: 10px;
    background-color: #f9f9f9;
    display: flex;
    width: fit-content;
}

.footer .container .item .subscribe input {
    height: 30px;
    border: none;
    outline: none;
    padding-inline: 2px;
}

.footer .container .item .subscribe button {
    background-color: #007bff;
    color: #f9f9f9;
    border: none;
    outline: none;
    padding-inline: 4px;
    border-radius: 4px;
}
/* media queries for the footer */
@media (max-width: 1200px) {
    .footer .container .item {
        justify-content: center;
    }

    .footer .container .item {
        flex: 1 1 45%;
        min-width: 200px;
    }
}

@media (max-width: 768px) {
    .footer .container .item {
        flex: 1 1 100%;
    }
}